* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #d9fcff;
}

.img {
 display: inline-block;
 margin-left: 50px;

}

.nav {
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: grey solid 1px;
}

.nav-items {
  list-style: none;
  display: flex;
  margin-right: 280px;
  gap: 100px;
  font-size: 25px;
}

.nav-items > li {
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
}

.heading {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

.points > li{
  margin-left: 80px;
  font-size: 25px;
  list-style: circle;
  margin-top: 10px;
}

.points{
  margin-bottom: 270px;
}

.footer-text {
  margin-left: 80px;
}