* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  background: #111;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: start;
  padding-left: 5rem;
}

.box {
  width: 100px;
  height: 100px;
  background: #4ade80;
  border-radius: 12px;
}

.box2 {
  width: 100px;
  height: 100px;
  background: #b33fe9;
  border-radius: 12px;
}

.circle {
  width: 100px;
  height: 100px;
  background: #60a5fa;
  border-radius: 50%;
}
