@import "button";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 2rem;
  gap: 2rem;

  .shapes {
    height: 30%;
    width: 100%;
    padding-top: 5rem;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;

    div {
      width: 5%;
      height: 20%;
      background-color: green;
      border-radius: 2rem;
    }
    .box {
      background-color: orange;
    }
    .circle {
      background-color: whitesmoke;
    }
    .box2 {
      background-color: green;
    }
  }

  .buttons-section {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    #play {
      @include button;
    }
    #pause {
      @include button(white, red, rgb(214, 85, 85));
    }
    #resume {
      @include button(white, rgb(23, 119, 143), rgb(103, 177, 196));
    }
    #reverse {
      @include button(white, rgb(114, 13, 97), rgb(189, 78, 156));
    }
    #restart {
      @include button(white, rgb(60, 87, 9), rgb(61, 139, 50));
    }
  }
}
