* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #0d0d0d;
  color: white;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 4rem;

  h1 {
    font-size: 3.8rem;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
  }

  section {
    width: 75%;
    gap: 1.5rem;

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-items: center;

      h3 {
        font-size: 1.3rem;
        text-transform: capitalize;
        background: #141414;
        padding: 1.4rem;
        margin-bottom: 0.7rem;
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.08);
        text-align: center;

        &:hover {
          background: #0aff99;
          color: #000;
        }
      }
    }
  }
}
