@import "heading";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  height: 100%;
  width: 100%;

  .display1 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    color: black;
    h1 {
      @include heading();
    }
  }

  .display2 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    overflow: hidden;

    h1 {
      @include heading();
    }
  }
}
