@import "button";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: azure;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;

  grid-template-areas:
    "header header"
    "section aside";

  header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo {
      font-size: 3rem;
      transition: all cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
    .navbar {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      transition: all cubic-bezier(0.23, 1, 0.320, 1);
      a {
        text-decoration: none;
        color: black;
        align-items: center;
        font-size: 1.5rem;
      }
      a:nth-child(1) {
        color: green;
      }
    }
    button {
      @include button;
      transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
  }

  #section {
    grid-area: section;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1.5rem;
    transition: all cubic-bezier(0.895, 0.03, 0.685, 0.22);

    h3 {
      background-color: green;
      padding: 0.5rem 2rem;
      border-radius: 1.5rem;
      color: white;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 1.5rem;
      color: gray;
    }

    section {
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        padding-bottom: 4rem;

        button:nth-child(1) {
          @include button;
        }
        button:nth-child(2) {
          @include button(white, green);
        }
      }
    }
  }

  aside {
    grid-area: aside;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 60%;
      width: 50%;
      clip-path: polygon(
        10% 25%,
        35% 25%,
        35% 0%,
        65% 0%,
        65% 25%,
        90% 25%,
        90% 50%,
        65% 50%,
        65% 100%,
        35% 100%,
        35% 50%,
        10% 50%
      );
      transition: all cubic-bezier(0.19, 1, 0.22, 1) 3s;
    }
  }
}
